<div class='row'>
    <table class='col s12 striped'>
        <thead>
            <th>name</th>
            <th class=''>weight</th>
            <th class=''>cost</th>
            <th class=''>add</th>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td class=''>{{name}}</td>
                <td class=''>{{weight}}</td>
                <td class=''>{{cost}}</td>
                <td class=''>
                    <button class='btn add-to-cart'>+</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>