<li>
    <div class="collapsible-header blue darken-3">{{classification}}</div>
    <div class="collapsible-body">
        <table class='striped'>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Value</th>
                    <th>Weight</th>
                    <th>Add</th>
                </tr>
            </thead>

            <tbody>
                {{!-- individual items added here --}}
            </tbody>
        </table>
    </div>
</li>

{{!-- <script type="text/javascript">
    Handlebars.registerHelper('bold', function(options) {
    return new Handlebars.SafeString(
        '<div class="mybold">'
        + options.fn(this)
        + '</div>');
    });
</script> --}}