<script id="item-template" type="text/x-handlebars-template">
    <tr>
        <td>{{item}}</td>
        <td>{{value}}</td>
        <td>{{weight}}</td>
        <td>
            <span class="list__item chip green">
                <i class="material-icons small">add</i>
            </span>
        </td>
    </tr>
</script>