<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>D and D stuffs</title>
    </head>
    <body>
        {{!-- {{> header}} --}}
        <p>lorem ipsum here</p>
        <p>welcome to D and D game</p>
        {{!-- <p>{{screamIt welcomeMessage}}</p> --}}
        {{!-- {{> footer}} --}}
    </body>
</html>