<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>D and D - Game Master</title>
    </head>
    <body>
        <p>lorem ipsum here</p>
        <p>welcome to D and D game</p>
        <div>You are {{data.name}} and you are running the {{data.game}} game.</div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src='/socket.io/socket.io.js'></script>
        <script>
            var data = {
                name: "{{data.name}}",
                game: "{{data.game}}"
            }
        </script>
        <script src='/js/game_master.js' ></script>
    </body>
</html>